In [1]:
#importing Spark Session
from pyspark.sql import SparkSession

#importing Spark SQL datatype
import pyspark.sql.types as tp    

import findspark

findspark.init("/opt/cloudera/parcels/CDH-6.2.1-1.cdh6.2.1.p0.1425774/lib/spark")

import pyspark

sc = pyspark.SparkContext()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

#### load the data from Hive

In [2]:
Loan_Details=spark.read.csv("/user/tswdsml6user016/CapStone_BankLoan/loandetails.tsv",sep="\t", inferSchema=True,header=True)

In [3]:
Action_Records=spark.read.csv("/user/tswdsml6user016/CapStone_BankLoan/actionrecords.tsv",sep="\t", inferSchema=True,header=True)
Pending_Status=spark.read.csv("/user/tswdsml6user016/CapStone_BankLoan/pendingstatus.tsv",sep="\t", inferSchema=True,header=True)

In [4]:
Loan_Details.show()

+--------------+----------+--------+-------------------+-------------+-----------+--------+------------+------------+-------------+----------------+---------------+-----------+-----------+-------------+---------+-------------+----------+----------+-------+--------------+-----------------+-------------+-------------+------------------+-----------+------------+--------+-------------+--------------+-------+---+----+---+----+--------+--------+---------+--------+----------+-----------------------+------------+----------------+----------+-------------+---------------+--------------+--------------------+--------+-----------+---------+-------------+------------------+---------+--------------------+---------------+-----+------+---------+---------+---------+---------+---------+--------+--------+---------+--------+--------------+------------+-------------+--------+---------+-------+----------+----------+--------+---------------+----------+-------------+-----------------+---------------+--------+----------+------------------+----------+-----------+-----------+--------------+-------------+---+--------------+--------------+------------------+---------------+------------------+--------------------+--------------------+----------+-------+-------------------+-----------+
|       cust_id|cust_title|capacity|father_relationship|is_prop_owner|rel_to_borr|group_no|origin_place|source_place|origin_branch|place_of_service|         status|origin_mode|agency_code| channel_type|emp_class|self_emp_type|unit_owned|unit_usage|end_use|loan_repay_ind|loan_product_type|financing_for|resident_type|     campaign_code|loan_scheme|loan_purpose|loan_amt|tot_disb_made|tot_disb_fixed|orgterm|iir|foir|lcr| lvr|curr_iir|curr_lcr|curr_foir|curr_lvr|adj_income|recalculated_adj_income|prime_income|no_of_dependents|pd_fd_flag|approval_date|first_disb_date|last_disb_date|     all_cross_links|acq_mode|proj_status|prop_type|mortgage_type|assessed_mkt_value|prop_cost|           prop_city|identified_prop|  roi|   emi|orig_term|loan_type|cur_emios|cur_pmios|cur_osadd|cur_mros|cur_sios|cur_ppcos|bal_term|add_int_recble|add_int_recd|ly_os_add_int|ly_os_mr|mr_recble|mr_recd|cur_pr_emi|cur_pr_pmi| to_date|normal_pay_mode|app_status|last_pay_mode|cust_prime_income|cust_oth_income|nri_flag|nat_of_emp|cust_self_emp_type|profession|dt_of_birth|retire_date|marital_status|social_status|sex|qualification1|qualification2|   emp_business_of|emp_branch_type| emp_industry_type|  emp_corp_buss_area|         designation|work_since|tot_exp|comm_residence_type|repeat_flag|
+--------------+----------+--------+-------------------+-------------+-----------+--------+------------+------------+-------------+----------------+---------------+-----------+-----------+-------------+---------+-------------+----------+----------+-------+--------------+-----------------+-------------+-------------+------------------+-----------+------------+--------+-------------+--------------+-------+---+----+---+----+--------+--------+---------+--------+----------+-----------------------+------------+----------------+----------+-------------+---------------+--------------+--------------------+--------+-----------+---------+-------------+------------------+---------+--------------------+---------------+-----+------+---------+---------+---------+---------+---------+--------+--------+---------+--------+--------------+------------+-------------+--------+---------+-------+----------+----------+--------+---------------+----------+-------------+-----------------+---------------+--------+----------+------------------+----------+-----------+-----------+--------------+-------------+---+--------------+--------------+------------------+---------------+------------------+--------------------+--------------------+----------+-------+-------------------+-----------+
|77344023500603|        MR|       B|               null|            Y|       null|     575|         ANW|        null|          201|             ANW|FD/DCLG/SN/SANC|      WLKIN|       null|         null|        E|         null|      null|      null|   null|          null|              HOU|          RES|          RES|              null|        NOR|        null| 5432247|      5432247|       5432247|    216| 31|   0| 88|null|       7|      88|     null|    null|    149900|             2085483.75|      124900|               0|        FD|     26-12-03|       17-01-04|      17-01-04|616566328,211154182,|       P|       null|        F|            F|              null|  6167150|              MUMBAI|           null| 9.55| 10868|      216|       L1|    14794|        0|      219|      22|       0|        0|     108|           219|         215|          215|       0|       53|     31|    781480|         0|30-04-26|              M|      null|            M|           124900|          25000|       N|         E|              null|      null|   04-11-61|   04-11-21|             M|         null|  M|            BE|           DBM|              null|           null|              null|                null|     COUNTRY MANAGER|   8 YEARS|   null|               null|       null|
|77477286303459|        MR|       B|                  F|            Y|       null|     571|         AKR|        null|          201|             AKR|FD/DBMD/SN/SANC|      WLKIN|       null|         null|        E|         null|      null|      null|   null|            HF|              HOU|          RES|          RES|ALLINDIAXDISBX0905|        NOR|         PUR| 7188630|      7188630|       7188630|    240| 49|null| 95|null|      39|      95|     null|    null|    109150|            1136524.375|       88950|               0|        FD|     23-11-05|       31-01-06|      16-05-07|617026774,364162131,|       P|       null|        F|            F|              null|  7591190|              MUMBAI|           null|10.65| 42525|      240|       L1|        0|        0|     -638|       0|       0|        0|    null|           638|        1894|          618|      20|       60|     80|         0|         0|    null|              M|      null|            W|            88950|          20200|       N|         E|              null|      null|   11-06-67|   11-06-27|             M|           OT|  M|            BE|           MBA|       CONSULTANCY|           null|  INFORMATION TECH|         DEVELOPMENT|        COUNTRY HEAD|  15 YEARS|   null|         COMP_LEASE|       null|
|77514251361302|        MR|       B|               null|            Y|       null|     571|         KOP|        null|          201|             KOP|FD/DBMD/SN/SANC|      EXTNC|       null|         null|        E|         null|      null|      null|   null|          null|              HOU|          RES|          RES|              null|        NOR|         PUR|10000000|     10000000|      10000000|    192| 42|  64| 71|null|      42|      72|       64|    null|    250000|              2668750.0|      250000|               0|        FD|     24-04-06|       28-02-07|      28-02-07|211916472,2110712...|       R|       null|        F|            F|          13200000| 13873500|              MUMBAI|           null|10.15|104423|      180|       L1|        0|        0|        0|       0|       0|        0|     111|             0|           0|            0|       0|        0|      0|   7477749|         0|31-07-26|              M|      null|            M|           250000|              0|       N|         E|              null|      null|   19-03-62|   19-03-22|             M|         null|  M|          BCOM|           MBA|              null|              B|              null|                null|   MANAGING DIRECTOR|    21 YRS|   null|             FAMILY|       null|
|77554700079293|        MR|       B|                  F|            Y|       null|    5371|         AND|        null|          201|             AKR|        FD/DCMT|      WLKIN|       null|         null|        E|         null|      null|      null|   null|            HP|              HOU|          RES|          NRI|              null|        NOR|         PUR| 5336285|      5336285|       5336285|    240| 39|  44| 81|null|      11|      81|       12|    null|    535471|           4076272.9875|      281436|               0|        FD|     15-11-06|       08-02-10|      08-02-10|                null|       P|       null|        F|            F|              null|  6605683|              MUMBAI|           null| 9.35| 57738|      240|       L1|   -57738|        0|        0|     100|       0|        0|     115|             0|           0|            0|     100|        0|      0|   4374285|         0|30-11-26|              A|      null|           HP|           254035|              0|       N|         E|              null|      null|   23-12-76|   23-12-34|             M|           OT|  M|            BE|          null|       CONSULTANCY|           null|  INFORMATION TECH|         DEVELOPMENT|    ASST. CONSULTANT|     7 YRS|   null|               null|       null|
|77562635977085|        MR|       B|                  F|            Y|       null|     571|         PRL|        null|          201|             PRL|        FD/DCMT|        DSA|      HSHO1|        HLSIL|        E|         null|      null|      null|   null|            HP|              HOU|          RES|          RES|ALLINDIAXDISBX0906|        NOR|         PUR|11682000|     11682000|      11682000|    204| 29|  45| 90|null|    null|    null|     null|    null|    374452|              3538571.4|      254785|               2|        FD|     14-12-06|       30-12-06|      02-05-08|605439225,2194070...|       P|       null|        F|            F|              null| 12649350|              MUMBAI|           null| 8.95|112007|      204|       L1|        0|        0|        0|       0|       0|        0|     100|             0|           0|            0|       0|        0|      0|   7874411|         0|31-08-25|              A|      null|            A|           527488|              0|       N|         E|              null|      null|   10-04-64|   10-04-24|             M|           OT|  M|         CAIIB|          null|          SERVICES|              B|           BANKING|  INTERNATIONAL BANK|                 SVP|      7YRS|   null|         SELF_OWNED|       null|
|78001933422531|        MR|       B|                  F|            Y|       null|     571|         MAL|        null|          201|             MAL|        FD/DBMD|        DSA|        HDB|HDFC BANK LTD|        E|         null|      null|      null|   null|            HB|              HOU|          RES|          RES|              null|        NOR|         PUR| 6000000|      6000000|       6000000|    240| 50|  60| 88|null|      50|      86|       60|    null|    116667|           1235211.8625|      116667|               0|        FD|     21-03-07|       31-03-07|      31-03-07|                null|       P|       null|        F|            F|              null|  7005460|              MUMBAI|           null| 11.4| 58899|      240|       L1|    -1731|        0|        0|     100|       0|        0|      44|           876|         876|            0|       0|      231|    131|   2093318|         0|31-12-20|              M|      null|            M|           116667|              0|       N|         E|              null|      null|   02-05-74|   02-05-32|             S|           OT|  M|            BE|           MBA|          SERVICES|           null|FINANCIAL SERVICES|BACK OFFICE SERVICES|             MANAGER|  6 MONTHS|   null|             FAMILY|       null|
|78046228285677|        MR|       B|                  F|            Y|       null|    5217|          DB|          DB|          201|             AKR|FD/DBMD/SN/SANC|      WLKIN|       null|       DIRECT|        E|         null|      null|      null|   null|            HP|              HOU|          RES|          NRI|              null|        NOR|         PUR| 2200000|      2200000|       2200000|    120|  9|  53| 26|null|       9|      26|       53|    null|    306000|              1713600.0|      306000|               0|        FD|     11-05-07|       07-05-11|      07-05-11|                null|       P|       null|        F|            F|              null|  8504250|              MUMBAI|           null|10.55| 28770|      120|       L1|   -28770|        0|        0|       0|       0|        0|      65|             0|           0|            0|       0|        0|      0|   1417705|         0|28-02-22|              M|      null|            M|           306000|              0|       Y|         E|              null|      null|   23-02-65|   23-02-23|             M|           OT|  M|            BA|          null|              null|              2|              null|                null|HEAD SERVICES CON...|         7|   null|               null|       null|
|78087182141705|        MR|       B|                  F|            Y|       null|    5217|          DB|        null|          201|             AKR|        FD/DBMD|      WLKIN|       null|       DIRECT|        E|         null|         2|INVESTMENT|   null|            HP|              HOU|          RES|          NRI| DUBAI.NEGRTS.0311|        NOR|         PUR| 5331675|      5331675|       5331675|    180| 24|  40| 75|null|      24|      75|       40|    null|    242000|              1355200.0|      242000|               3|        FD|     25-05-07|       11-05-11|      11-05-11|                null|       P|       null|        F|            F|              null|  7109780|              MUMBAI|           null| 10.7| 56969|      180|       L1|        0|        0|        0|       0|       0|        0|     140|             0|           0|            0|     100|        0|    100|   4530842|         0|31-05-28|              M|      null|            M|           242000|              0|       Y|         E|              null|      null|   22-07-70|   22-07-28|             M|           OT|  M|           DCE|          null|          SERVICES|           null|       ENGINEERING|ENGINEERING PROJECTS|          SR MANAGER|  5 MONTHS|   null|             RENTED|       null|
|78178797941118|        MR|       B|                  F|            Y|       null|    5217|          DB|          DB|          201|             AKR|FD/DBMD/SN/SANC|      WLKIN|       null|       DIRECT|        S|          SEB|         1|INVESTMENT|   null|            HP|              HOU|          RES|          NRI| DUBAI.NEGRTS.0311|        NOR|         PUR| 7043250|      7043250|       7043250|     84| 22|null| 77|null|      15|      71|     null|    null|    805680|              4511808.0|      505680|               0|        FD|     25-07-07|       14-05-11|      14-05-11|                null|       P|       null|        F|            F|              null|  9873200|              MUMBAI|           null| 10.7|116563|       84|       L1|     2763|        0|        0|      20|       0|        0|      24|         10492|       10492|            0|       0|      552|    532|   2491540|         0|30-09-18|              M|      null|            M|           505680|         300000|       Y|         S|               SEB|      null|   17-03-78|       null|             M|           NA|  M|             G|          null|              null|           null|              null|                null|   MANAGING DIRECTOR|      null|   null|               null|       null|
|78226295181899|        MS|       B|                  F|            Y|       null|    5217|          DB|          DB|          201|             AKR|        PR/DOCR|      WLKIN|       null|       DIRECT|        E|         null|         1|    RENTAL|   null|            HP|              HOU|          RES|          NRI| DUBAI.NEGRTS.0311|        NOR|         PUR| 4521850|      4521850|       4521850|     84| 22|  47| 71|null|      22|      71|       47|    null|    342108|                   null|      342108|               0|        FD|     22-08-07|       06-04-11|      06-04-11|          608047001,|       P|       null|        F|            F|              null|  6378900|              MUMBAI|              Y| null|  null|     null|     null|     null|     null|     null|    null|    null|     null|    null|          null|        null|         null|    null|     null|   null|      null|      null|    null|           null|      null|         null|           342108|              0|       Y|         E|              null|      null|   03-11-83|   03-11-41|             M|           NA|  F|          null|          null|          SERVICES|           null|     LIFE SCIENCES|DIAGONISTIC REAGENTS|SOFTWARE ENGINEER...|   3.5 YRS|   null|               null|       null|
|78229124832771|        MR|       B|                  F|            Y|       null|    5217|          DB|          DB|          201|             AKR|        PR/DOCR|        DSA|        MOK|    OTHER DSA|        S|          SEB|         1|INVESTMENT|   null|            HP|              HOU|          RES|          NRI| DUBAI.NEGRTS.0311|        NOR|         PUR| 7000000|      7000000|       7000000|     84| 35|null| 64|null|      38|      64|     null|    null|    307350|                   null|      187350|               0|        FD|     21-08-07|       23-04-11|      23-04-11|                null|       P|       null|        F|            F|              null| 10885735|              MUMBAI|              Y| null|  null|     null|     null|     null|     null|     null|    null|    null|     null|    null|          null|        null|         null|    null|     null|   null|      null|      null|    null|           null|      null|         null|           187350|         120000|       Y|         S|               SEB|      null|   02-08-52|       null|             M|           NA|  M|            BE|          null|              null|           null|              null|                null|             MANAGER|      null|   null|               null|       null|
|78336783245627|        MR|       B|                  F|            Y|       null|     571|         THN|        null|          201|             THN|PD/DBMD/SN/SANC|        DSA|        HDB|HDFC BANK LTD|        E|         null|         2| SELF OCCP|   null|            HB|              HOU|          RES|          RES|ALLIND.FESTVE.1011|        TRC|         PUR| 9450000|      9048665|       9048665|    240| 35|  48| 81|null|      31|      78|       45|    null|    301099|              1475385.1|      232133|               0|        PD|     02-11-07|       14-01-12|      20-10-16|                null|       P|    TC/APRV|        F|            F|              null| 12069500|              MUMBAI|              Y|  9.7| 82561|      204|       L1|        0|    -1813|        0|       0|       0|        0|     205|             0|           0|            0|       0|        0|      0|   7901750|         0|31-10-33|              M|      null|            H|           232133|          68750|       N|         E|              null|      null|   12-02-70|   12-02-28|             M|           OT|  M|            CA|          null|         SOLUTIONS|           null|           SERVICE|   ADVISORY SERVICES|      VICE PRESIDENT|   1.5 YRS|   null|         SELF_OWNED|       null|

In [5]:
Loan_Details.printSchema()

root
 |-- cust_id: long (nullable = true)
 |-- cust_title: string (nullable = true)
 |-- capacity: string (nullable = true)
 |-- father_relationship: string (nullable = true)
 |-- is_prop_owner: string (nullable = true)
 |-- rel_to_borr: string (nullable = true)
 |-- group_no: integer (nullable = true)
 |-- origin_place: string (nullable = true)
 |-- source_place: string (nullable = true)
 |-- origin_branch: integer (nullable = true)
 |-- place_of_service: string (nullable = true)
 |-- status: string (nullable = true)
 |-- origin_mode: string (nullable = true)
 |-- agency_code: string (nullable = true)
 |-- channel_type: string (nullable = true)
 |-- emp_class: string (nullable = true)
 |-- self_emp_type: string (nullable = true)
 |-- unit_owned: string (nullable = true)
 |-- unit_usage: string (nullable = true)
 |-- end_use: string (nullable = true)
 |-- loan_repay_ind: string (nullable = true)
 |-- loan_product_type: string (nullable = true)
 |-- financing_for: string (nullable = true)
 |-- resident_type: string (nullable = true)
 |-- campaign_code: string (nullable = true)
 |-- loan_scheme: string (nullable = true)
 |-- loan_purpose: string (nullable = true)
 |-- loan_amt: long (nullable = true)
 |-- tot_disb_made: long (nullable = true)
 |-- tot_disb_fixed: long (nullable = true)
 |-- orgterm: integer (nullable = true)
 |-- iir: integer (nullable = true)
 |-- foir: integer (nullable = true)
 |-- lcr: integer (nullable = true)
 |-- lvr: integer (nullable = true)
 |-- curr_iir: integer (nullable = true)
 |-- curr_lcr: integer (nullable = true)
 |-- curr_foir: integer (nullable = true)
 |-- curr_lvr: integer (nullable = true)
 |-- adj_income: integer (nullable = true)
 |-- recalculated_adj_income: double (nullable = true)
 |-- prime_income: integer (nullable = true)
 |-- no_of_dependents: integer (nullable = true)
 |-- pd_fd_flag: string (nullable = true)
 |-- approval_date: string (nullable = true)
 |-- first_disb_date: string (nullable = true)
 |-- last_disb_date: string (nullable = true)
 |-- all_cross_links: string (nullable = true)
 |-- acq_mode: string (nullable = true)
 |-- proj_status: string (nullable = true)
 |-- prop_type: string (nullable = true)
 |-- mortgage_type: string (nullable = true)
 |-- assessed_mkt_value: long (nullable = true)
 |-- prop_cost: long (nullable = true)
 |-- prop_city: string (nullable = true)
 |-- identified_prop: string (nullable = true)
 |-- roi: double (nullable = true)
 |-- emi: integer (nullable = true)
 |-- orig_term: integer (nullable = true)
 |-- loan_type: string (nullable = true)
 |-- cur_emios: integer (nullable = true)
 |-- cur_pmios: integer (nullable = true)
 |-- cur_osadd: integer (nullable = true)
 |-- cur_mros: integer (nullable = true)
 |-- cur_sios: integer (nullable = true)
 |-- cur_ppcos: integer (nullable = true)
 |-- bal_term: integer (nullable = true)
 |-- add_int_recble: integer (nullable = true)
 |-- add_int_recd: integer (nullable = true)
 |-- ly_os_add_int: integer (nullable = true)
 |-- ly_os_mr: integer (nullable = true)
 |-- mr_recble: string (nullable = true)
 |-- mr_recd: string (nullable = true)
 |-- cur_pr_emi: integer (nullable = true)
 |-- cur_pr_pmi: string (nullable = true)
 |-- to_date: string (nullable = true)
 |-- normal_pay_mode: string (nullable = true)
 |-- app_status: string (nullable = true)
 |-- last_pay_mode: string (nullable = true)
 |-- cust_prime_income: integer (nullable = true)
 |-- cust_oth_income: integer (nullable = true)
 |-- nri_flag: string (nullable = true)
 |-- nat_of_emp: string (nullable = true)
 |-- cust_self_emp_type: string (nullable = true)
 |-- profession: string (nullable = true)
 |-- dt_of_birth: string (nullable = true)
 |-- retire_date: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- social_status: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- qualification1: string (nullable = true)
 |-- qualification2: string (nullable = true)
 |-- emp_business_of: string (nullable = true)
 |-- emp_branch_type: string (nullable = true)
 |-- emp_industry_type: string (nullable = true)
 |-- emp_corp_buss_area: string (nullable = true)
 |-- designation: string (nullable = true)
 |-- work_since: string (nullable = true)
 |-- tot_exp: string (nullable = true)
 |-- comm_residence_type: string (nullable = true)
 |-- repeat_flag: string (nullable = true)

In [6]:
Action_Records.printSchema()

root
 |-- cust_id: string (nullable = true)
 |-- app_seq_no: string (nullable = true)
 |-- action: string (nullable = true)
 |-- date_of_action: string (nullable = true)
 |-- response: string (nullable = true)
 |-- def_observ: string (nullable = true)
 |-- remark: string (nullable = true)
 |-- amount_spent: string (nullable = true)
 |-- amount_tobechg: string (nullable = true)
 |-- action_to_be: string (nullable = true)
 |-- seq_no_reln: string (nullable = true)
 |-- upd_date: string (nullable = true)
 |-- print_dt: string (nullable = true)
 |-- action_to_be_dt: string (nullable = true)
 |-- delegated_to: string (nullable = true)
 |-- action_type: string (nullable = true)
 |-- tel_serial_no: string (nullable = true)
 |-- action_source: string (nullable = true)
 |-- promised_amt: string (nullable = true)
 |-- promised_dt: string (nullable = true)
 |-- special_info_type: string (nullable = true)
 |-- associate_cd: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)

In [7]:
from pyspark.sql.functions import *
Action_Records.select("cust_id") \
              .where(col("action") == 'VC').show();

+-------+
|cust_id|
+-------+
+-------+

# Consider only columns which will be required for the end results

In [8]:
Loan_Detail_Req = Loan_Details.select("cust_id","loan_scheme","loan_amt","roi","emi","orig_term","loan_type","nri_flag","marital_status","sex","qualification1","emp_industry_type")

Loan_Detail_Req.show()

+--------------+-----------+--------+-----+------+---------+---------+--------+--------------+---+--------------+------------------+
|       cust_id|loan_scheme|loan_amt|  roi|   emi|orig_term|loan_type|nri_flag|marital_status|sex|qualification1| emp_industry_type|
+--------------+-----------+--------+-----+------+---------+---------+--------+--------------+---+--------------+------------------+
|77344023500603|        NOR| 5432247| 9.55| 10868|      216|       L1|       N|             M|  M|            BE|              null|
|77477286303459|        NOR| 7188630|10.65| 42525|      240|       L1|       N|             M|  M|            BE|  INFORMATION TECH|
|77514251361302|        NOR|10000000|10.15|104423|      180|       L1|       N|             M|  M|          BCOM|              null|
|77554700079293|        NOR| 5336285| 9.35| 57738|      240|       L1|       N|             M|  M|            BE|  INFORMATION TECH|
|77562635977085|        NOR|11682000| 8.95|112007|      204|       L1|       N|             M|  M|         CAIIB|           BANKING|
|78001933422531|        NOR| 6000000| 11.4| 58899|      240|       L1|       N|             S|  M|            BE|FINANCIAL SERVICES|
|78046228285677|        NOR| 2200000|10.55| 28770|      120|       L1|       Y|             M|  M|            BA|              null|
|78087182141705|        NOR| 5331675| 10.7| 56969|      180|       L1|       Y|             M|  M|           DCE|       ENGINEERING|
|78178797941118|        NOR| 7043250| 10.7|116563|       84|       L1|       Y|             M|  M|             G|              null|
|78226295181899|        NOR| 4521850| null|  null|     null|     null|       Y|             M|  F|          null|     LIFE SCIENCES|
|78229124832771|        NOR| 7000000| null|  null|     null|     null|       Y|             M|  M|            BE|              null|
|78336783245627|        TRC| 9450000|  9.7| 82561|      204|       L1|       N|             M|  M|            CA|           SERVICE|
|78342229299380|        NOR| 5466256| 10.8| 29581|      144|       L1|       Y|             M|  M|           BSE|            RETAIL|
|78361581828896|        TRC| 1817801| 9.65| 29000|      240|       L1|       N|             M|  F|           DBA|          CHEMICAL|
|78375819332844|        NOR| 4500000|  9.6| 17175|      240|       L1|       N|             M|  M|         BTECH|  INFORMATION TECH|
|78390073296757|        NOR| 7800000| null|  null|     null|     null|       Y|             M|  M|          BCOM|              null|
|78421758729382|        NOR| 7500000|  9.7| 78240|      180|       L1|       N|             M|  M|           MBA|              null|
|78424315510612|        NOR|13241250|  9.0|129605|      240|       L1|       N|             M|  M|            BE|             MEDIA|
|78430914127692|        NOR| 2418000| 9.55| 22998|      238|       L1|       N|             M|  M|          BCOM|         EDUCATION|
|78433251808499|        NOR| 6167344| 10.8| 29441|      180|       L1|       Y|             M|  M|            MA|  INFORMATION TECH|
+--------------+-----------+--------+-----+------+---------+---------+--------+--------------+---+--------------+------------------+
only showing top 20 rows

In [9]:
Pending_Status_Req = Pending_Status.select("Cust_id","months_pending","yearmonth","date_modified")
Pending_Status_Req.show()

+---------------+--------------+---------+-------------+
|        Cust_id|months_pending|yearmonth|date_modified|
+---------------+--------------+---------+-------------+
| 90067414406392|          null|   201005|     31-05-10|
|108795864349417|          null|   201005|     31-05-10|
|214690102911818|          null|   201005|     31-05-10|
|215510773722767|          null|   201005|     31-05-10|
|215290235796157|          null|   201005|     31-05-10|
| 90067414406392|          null|   201006|     30-06-10|
|108795864349417|          null|   201006|     30-06-10|
|215510773722767|          null|   201006|     30-06-10|
|215290235796157|          null|   201006|     30-06-10|
|214690102911818|          null|   201006|     30-06-10|
|108795864349417|          null|   201007|     31-07-10|
|214690102911818|          null|   201007|     31-07-10|
|215290235796157|          null|   201007|     31-07-10|
|215510773722767|          null|   201007|     31-07-10|
| 90067414406392|          null|   201007|     31-07-10|
|215290235796157|           1.0|   201008|     31-08-10|
|215510773722767|           1.0|   201008|     31-08-10|
|214690102911818|           0.0|   201008|     31-08-10|
| 90067414406392|           0.0|   201008|     31-08-10|
|108795864349417|           2.0|   201008|     31-08-10|
+---------------+--------------+---------+-------------+
only showing top 20 rows

In [10]:
Action_Records_Req = Action_Records.select("cust_id","action","date_of_action","response","amount_tobechg","upd_date","action_to_be_dt","promised_amt","promised_dt","year","month")
Action_Records_Req.show()

+---------------+------+--------------+--------+--------------+--------+---------------+------------+-----------+----+-----+
|        cust_id|action|date_of_action|response|amount_tobechg|upd_date|action_to_be_dt|promised_amt|promised_dt|year|month|
+---------------+------+--------------+--------+--------------+--------+---------------+------------+-----------+----+-----+
|220765599260167|    MS|      07-05-12|      LM|            10|07-05-12|       14-05-12|        null|       null|null| null|
|108795864349417|   TBM|      10-11-09|     PTP|             0|10-11-09|       18-11-09|        3644|   14-11-09|null| null|
|108795864349417| LREM2|      09-11-09|    null|            15|16-11-09|           null|        null|       null|null| null|
|108795864349417|    EO|      15-02-11|    null|             0|16-02-11|           null|        null|       null|null| null|
|220409067639619|   TBM|      11-11-11|     PTP|            10|11-11-11|       19-11-11|       13550|   19-11-11|null| null|
|220383397043982|   TBM|      11-11-11|      LM|            10|11-11-11|       20-11-11|        null|       null|null| null|
|108795864349417| LREM2|      09-01-10|    null|             0|13-01-10|           null|        null|       null|null| null|
|108795864349417| LREM2|      09-02-11|    null|            15|16-02-11|           null|        null|       null|null| null|
| 90067414406392|   TBM|      11-04-09|     URL|             0|11-04-09|       16-04-09|        null|       null|null| null|
| 90067414406392|   TBM|      13-04-09|     URL|             0|13-04-09|       29-04-09|        null|       null|null| null|
| 90067414406392|   TBM|      08-05-09|      LM|            10|08-05-09|       14-05-09|        null|       null|null| null|
| 90067414406392| LREM2|      09-05-09|    null|             0|19-05-09|           null|        null|       null|null| null|
| 90067414406392|   TBM|      12-02-09|      LM|            10|12-02-09|       16-02-09|        null|       null|null| null|
| 90067414406392|   TBM|      13-02-09|     PIT|            10|13-02-09|       19-02-09|        null|       null|null| null|
| 90067414406392| LREM2|      09-02-09|    null|             0|19-02-09|           null|        null|       null|null| null|
|220732423652044|   TBC|      07-06-12|      LM|            10|07-06-12|       08-06-12|        null|       null|null| null|
| 90067414406392|   TBM|      13-03-09|      LM|            10|13-03-09|       22-03-09|        null|       null|null| null|
| 90067414406392|   TBM|      16-03-09|     URL|             0|16-03-09|           null|        null|       null|null| null|
| 90067414406392| LREM2|      12-03-09|    null|            15|17-03-09|           null|        null|       null|null| null|
|108795864349417|   TBM|      25-08-09|      LM|          null|25-08-09|       28-08-09|        null|       null|null| null|
+---------------+------+--------------+--------+--------------+--------+---------------+------------+-----------+----+-----+
only showing top 20 rows

In [11]:
Action_Records_Req.where(col("year").isNotNull() & col("month").isNotNull()).count()

7

### checking Null value in the Pending Status table

In [12]:
from pyspark.sql.functions import *

In [13]:
print("Null value in Cust_id :- ",Pending_Status_Req.filter(col("Cust_id").isNull()).count())

Null value in Cust_id :-  0

In [14]:
print("Null value in months pending :- ",Pending_Status_Req.filter(col("months_pending").isNull()).count())

Null value in months pending :-  10474

In [15]:
print("-ve value in months pending :- ",Pending_Status_Req.where(col("months_pending") < 0).count())

-ve value in months pending :-  62567

In [16]:
print("Null value in yearmonth :- ",Pending_Status_Req.filter(col("yearmonth").isNull()).count())

Null value in yearmonth :-  0

In [17]:
print("Null value in date modified :- ",Pending_Status_Req.filter(col("date_modified").isNull()).count())

Null value in date modified :-  0

#### Replacing Null value in Months Pending by 0.0, drop -ve value in Months Pending and handle year and month

In [18]:
Pending_Status_noNull=Pending_Status_Req.fillna(0.0) \
                                        .withColumn('year', substring('yearmonth', 1,4).cast("Integer")) \
                                        .withColumn('month', substring('yearmonth', 5,2).cast("Integer")) \
                                        .where(col("months_pending")>= 0)
Pending_Status_noNull.show()

+---------------+--------------+---------+-------------+----+-----+
|        Cust_id|months_pending|yearmonth|date_modified|year|month|
+---------------+--------------+---------+-------------+----+-----+
| 90067414406392|           0.0|   201005|     31-05-10|2010|    5|
|108795864349417|           0.0|   201005|     31-05-10|2010|    5|
|214690102911818|           0.0|   201005|     31-05-10|2010|    5|
|215510773722767|           0.0|   201005|     31-05-10|2010|    5|
|215290235796157|           0.0|   201005|     31-05-10|2010|    5|
| 90067414406392|           0.0|   201006|     30-06-10|2010|    6|
|108795864349417|           0.0|   201006|     30-06-10|2010|    6|
|215510773722767|           0.0|   201006|     30-06-10|2010|    6|
|215290235796157|           0.0|   201006|     30-06-10|2010|    6|
|214690102911818|           0.0|   201006|     30-06-10|2010|    6|
|108795864349417|           0.0|   201007|     31-07-10|2010|    7|
|214690102911818|           0.0|   201007|     31-07-10|2010|    7|
|215290235796157|           0.0|   201007|     31-07-10|2010|    7|
|215510773722767|           0.0|   201007|     31-07-10|2010|    7|
| 90067414406392|           0.0|   201007|     31-07-10|2010|    7|
|215290235796157|           1.0|   201008|     31-08-10|2010|    8|
|215510773722767|           1.0|   201008|     31-08-10|2010|    8|
|214690102911818|           0.0|   201008|     31-08-10|2010|    8|
| 90067414406392|           0.0|   201008|     31-08-10|2010|    8|
|108795864349417|           2.0|   201008|     31-08-10|2010|    8|
+---------------+--------------+---------+-------------+----+-----+
only showing top 20 rows

In [19]:
print("Months Pending -ve :- ", Pending_Status_noNull.where(col("months_pending")< 0).count())
print("Year :- ", Pending_Status_noNull.where(col("year")< 0).count())
print("Month :- ", Pending_Status_noNull.where(col("month")< 0).count())

Months Pending -ve :-  0
Year :-  0
Month :-  0

In [20]:
Pending_Status_noNull.printSchema()

root
 |-- Cust_id: long (nullable = true)
 |-- months_pending: double (nullable = false)
 |-- yearmonth: integer (nullable = true)
 |-- date_modified: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

##### checking Null value in the Loan Details table

In [21]:
Loan_Detail_Req.printSchema()

root
 |-- cust_id: long (nullable = true)
 |-- loan_scheme: string (nullable = true)
 |-- loan_amt: long (nullable = true)
 |-- roi: double (nullable = true)
 |-- emi: integer (nullable = true)
 |-- orig_term: integer (nullable = true)
 |-- loan_type: string (nullable = true)
 |-- nri_flag: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- qualification1: string (nullable = true)
 |-- emp_industry_type: string (nullable = true)

### checking Null value in the Loan Details table

In [22]:
print("Null value in Cust_id :- ",Loan_Detail_Req.filter(col("Cust_id").isNull()).count())

Null value in Cust_id :-  0

In [23]:
print("Null value in Loan Amount :- ",Loan_Detail_Req.filter(col("loan_amt").isNull()).count())

Null value in Loan Amount :-  0

In [24]:
print("Null value in Loan Type :- ",Loan_Detail_Req.filter(col("loan_type").isNull()).count())

Null value in Loan Type :-  117374

In [25]:
print("Null value in Rate of Interest :- ",Loan_Detail_Req.filter(col("roi").isNull()).count())

Null value in Rate of Interest :-  117374

In [26]:
print("Null value in EMI :- ",Loan_Detail_Req.filter(col("emi").isNull()).count())

Null value in EMI :-  117381

In [27]:
Loan_Detail_Req.select("Cust_id").where(col("loan_type").isNull() & col("roi").isNull() & col("emi").isNull()).count()

117374

In [28]:
Loan_Detail_Req.select("Cust_id").where((col("loan_type").isNotNull() & col("roi").isNotNull()) & col("emi").isNull()).count()

7

####  Removal of rows containing Null value in EMI/ROI/Loan Type from Loan Detail

In [29]:
Loan_Detail_noNull = Loan_Detail_Req.where(col("emi").isNotNull())

In [30]:
Loan_Detail_noNull.select("Cust_id").where(col("loan_type").isNull() | col("roi").isNull() | col("emi").isNull()).count()

0

### checking value in the Action required Table

In [31]:
# Customer id with null value can't be of any use. these details should be dropped. 
print("Null value in Customer ID :- ",Action_Records_Req.filter(col("cust_id").isNull()).count())

Null value in Customer ID :-  172035

In [32]:
# all most all values are null. these columns need to be dropped.
Action_Records_Req.where(col("year").isNotNull() & col("month").isNotNull()).count()

7

In [33]:
# Customed with 'Null' action, has no use in the analysis. Can be dropped. 
Action_Records_Req.where(col("action").isNull()).count()

1902074

In [34]:
# Customed with 'Null' action, has no use in the analysis. Can be dropped. 
Action_Records_Req.where(col("cust_id").isNotNull() & col("action").isNull()).count()

1819820

In [35]:
# Amount to be charged with Null value could be replaced with 0 and datatype should be changed to integer.
print("Null value in Amount to be Charged :- ",Action_Records_Req.filter(col("amount_tobechg").isNull()).count())

Null value in Amount to be Charged :-  4132582

In [36]:
# Promised Amount with Null value could be replaced with 0 and datatype should be changed to integer.
print("Null value in Promised Amount :- ",Action_Records_Req.filter(col("promised_amt").isNull()).count())

Null value in Promised Amount :-  7474125

####  Handling Null value in Action Required Table and change the amount fields to integer

In [37]:
Action_Records_noNull=Action_Records_Req.where(col("cust_id").isNotNull() & col("action").isNotNull()) \
                                        .withColumn("amount_tobechg",col("amount_tobechg").cast("Integer")) \
                                        .withColumn("promised_amt",col("promised_amt").cast("Integer")) \
                                        .drop("year","month") \
                                        .fillna(value=0,subset=["amount_tobechg","promised_amt"])

In [38]:
Action_Records_noNull.show()

+---------------+------+--------------+--------+--------------+--------+---------------+------------+-----------+
|        cust_id|action|date_of_action|response|amount_tobechg|upd_date|action_to_be_dt|promised_amt|promised_dt|
+---------------+------+--------------+--------+--------------+--------+---------------+------------+-----------+
|220765599260167|    MS|      07-05-12|      LM|            10|07-05-12|       14-05-12|           0|       null|
|108795864349417|   TBM|      10-11-09|     PTP|             0|10-11-09|       18-11-09|        3644|   14-11-09|
|108795864349417| LREM2|      09-11-09|    null|            15|16-11-09|           null|           0|       null|
|108795864349417|    EO|      15-02-11|    null|             0|16-02-11|           null|           0|       null|
|220409067639619|   TBM|      11-11-11|     PTP|            10|11-11-11|       19-11-11|       13550|   19-11-11|
|220383397043982|   TBM|      11-11-11|      LM|            10|11-11-11|       20-11-11|           0|       null|
|108795864349417| LREM2|      09-01-10|    null|             0|13-01-10|           null|           0|       null|
|108795864349417| LREM2|      09-02-11|    null|            15|16-02-11|           null|           0|       null|
| 90067414406392|   TBM|      11-04-09|     URL|             0|11-04-09|       16-04-09|           0|       null|
| 90067414406392|   TBM|      13-04-09|     URL|             0|13-04-09|       29-04-09|           0|       null|
| 90067414406392|   TBM|      08-05-09|      LM|            10|08-05-09|       14-05-09|           0|       null|
| 90067414406392| LREM2|      09-05-09|    null|             0|19-05-09|           null|           0|       null|
| 90067414406392|   TBM|      12-02-09|      LM|            10|12-02-09|       16-02-09|           0|       null|
| 90067414406392|   TBM|      13-02-09|     PIT|            10|13-02-09|       19-02-09|           0|       null|
| 90067414406392| LREM2|      09-02-09|    null|             0|19-02-09|           null|           0|       null|
|220732423652044|   TBC|      07-06-12|      LM|            10|07-06-12|       08-06-12|           0|       null|
| 90067414406392|   TBM|      13-03-09|      LM|            10|13-03-09|       22-03-09|           0|       null|
| 90067414406392|   TBM|      16-03-09|     URL|             0|16-03-09|           null|           0|       null|
| 90067414406392| LREM2|      12-03-09|    null|            15|17-03-09|           null|           0|       null|
|108795864349417|   TBM|      25-08-09|      LM|             0|25-08-09|       28-08-09|           0|       null|
+---------------+------+--------------+--------+--------------+--------+---------------+------------+-----------+
only showing top 20 rows

In [39]:
Action_Records_noNull.printSchema()

root
 |-- cust_id: string (nullable = true)
 |-- action: string (nullable = true)
 |-- date_of_action: string (nullable = true)
 |-- response: string (nullable = true)
 |-- amount_tobechg: integer (nullable = true)
 |-- upd_date: string (nullable = true)
 |-- action_to_be_dt: string (nullable = true)
 |-- promised_amt: integer (nullable = true)
 |-- promised_dt: string (nullable = true)

### Cache and Persist all tables

In [40]:
from pyspark import StorageLevel

Persist_Pending_Status = Pending_Status_noNull.persist(StorageLevel.MEMORY_AND_DISK)
Persist_Loan_Detail = Loan_Detail_noNull.persist(StorageLevel.MEMORY_AND_DISK)
Persist_Action_Records = Action_Records_noNull.persist(StorageLevel.MEMORY_AND_DISK)

In [41]:
print("Number of partitions for Action Record :- ", Persist_Action_Records.rdd.getNumPartitions())
print("Number of partitions for Loan details :- ", Persist_Loan_Detail.rdd.getNumPartitions())
print("Number of partitions for Pending Status :- ", Persist_Pending_Status.rdd.getNumPartitions())

Number of partitions for Action Record :-  7
Number of partitions for Loan details :-  7
Number of partitions for Pending Status :-  7

In [42]:
# reduce the number of partitions
Persist_Action_Records = Persist_Action_Records.coalesce(2)
Persist_Loan_Detail = Persist_Loan_Detail.coalesce(1)
Persist_Pending_Status = Persist_Pending_Status.coalesce(1)

In [43]:
print("Number of partitions for Action Record after reduction :- ", Persist_Action_Records.rdd.getNumPartitions())
print("Number of partitions for Loan details after reduction :- ", Persist_Loan_Detail.rdd.getNumPartitions())
print("Number of partitions for Pending Status after reduction :- ", Persist_Pending_Status.rdd.getNumPartitions())

Number of partitions for Action Record after reduction :-  2
Number of partitions for Loan details after reduction :-  1
Number of partitions for Pending Status after reduction :-  1

###  Checking distinct years & join Pending Status and Loan Details tables

In [44]:
from pyspark.sql.functions import *
Persist_Pending_Status.select("year").distinct().show()

+----+
|year|
+----+
|2010|
|2011|
|2012|
|2013|
|2014|
|2015|
|2016|
+----+

In [45]:
Action_Table = Persist_Loan_Detail.join(Persist_Action_Records,"cust_id","inner").distinct()
Repayment_Table = Persist_Loan_Detail.join(Persist_Pending_Status,"cust_id","inner") \
                                     .select("cust_id","marital_status","sex","qualification1","emp_industry_type","months_pending","year","month") \
                                     .distinct()

In [46]:
Action_Table.columns

['cust_id',
 'loan_scheme',
 'loan_amt',
 'roi',
 'emi',
 'orig_term',
 'loan_type',
 'nri_flag',
 'marital_status',
 'sex',
 'qualification1',
 'emp_industry_type',
 'action',
 'date_of_action',
 'response',
 'amount_tobechg',
 'upd_date',
 'action_to_be_dt',
 'promised_amt',
 'promised_dt']

In [47]:
Repayment_Table.columns

['cust_id',
 'marital_status',
 'sex',
 'qualification1',
 'emp_industry_type',
 'months_pending',
 'year',
 'month']

#### The number of times repayment was in the status of 2-month pending

In [48]:
Repayment_Table_2Months = Repayment_Table.select("cust_id") \
               .where((col("months_pending").cast("Integer") == 2) & (col("year").cast("Integer") >= 2014)) \
               .groupBy("cust_id") \
               .count().orderBy("count", ascending=False)

#Repayment_Table_2Months.printSchema()
Repayment_Table_2Months_otherDetails = Repayment_Table.join(Repayment_Table_2Months,"cust_id","inner")

#Repayment_Table_2Months_otherDetails.printSchema()
Repayment_Table_2Months_otherDetails.select("cust_id","marital_status","sex","qualification1","emp_industry_type","count") \
                                    .where((col("cust_id")=="222348908166353")) \
                                    .distinct() \
                                    .show()

#Repayment_Table_2Months_otherDetails.join(Persist_Pending_Status,"cust_id","inner") \
#                                    .select("cust_id","marital_status","sex","qualification1","emp_industry_type","count","year","month") \
#                                    .where((col("months_pending").cast("Integer") == 2) & (col("year").cast("Integer") >= 2014)) \
#                                    .orderBy("count", "year", "month", ascending=False) \
#                                    .show(100)

+---------------+--------------+---+--------------+-----------------+-----+
|        cust_id|marital_status|sex|qualification1|emp_industry_type|count|
+---------------+--------------+---+--------------+-----------------+-----+
|222348908166353|             M|  M|          BCOM|       GOVERNMENT|   33|
+---------------+--------------+---+--------------+-----------------+-----+

In [49]:
Repayment_Table_2Months_distinct = Repayment_Table_2Months_otherDetails.select("cust_id","marital_status","sex","qualification1","emp_industry_type","count") \
                                                                       .distinct()
Repayment_Table_2Months_distinct.select("*") \
                                .orderBy("count",ascending=False).show()
#                                .where((col("cust_id")=="222348908166353")) \

+---------------+--------------+---+--------------+-----------------+-----+
|        cust_id|marital_status|sex|qualification1|emp_industry_type|count|
+---------------+--------------+---+--------------+-----------------+-----+
|220131553727050|             M|  M|            MA|             null|   33|
|221987976614272|             M|  M|           SSC|          MINERAL|   33|
|221061175972550|             M|  M|          PDEG|         CHEMICAL|   33|
|220314778010336|             M|  M|           DME| INFORMATION TECH|   33|
|219839762806617|             M|  M|           DME|      ENGINEERING|   33|
|222101649132562|             M|  M|           USC|STATE CORPORATION|   33|
|222271545233522|             M|  M|           SSC|          SERVICE|   33|
|222348908166353|             M|  M|          BCOM|       GOVERNMENT|   33|
|222583152854484|             M|  M|            HS|       GOVERNMENT|   33|
|222766429809658|             M|  M|           SSC|          MINERAL|   33|
|223062526656935|             M|  M|           SSC|PRINTING AND STAT|   33|
|221295752786197|             M|  M|            BA|             null|   33|
|221751750512132|             M|  M|           MBA|          SERVICE|   33|
|220060930235444|             M|  M|            BE|           CEMENT|   33|
|221766438653344|             M|  M|             G|      AUTOMOBILES|   33|
|220826751322135|             S|  M|             G| INFORMATION TECH|   33|
|220249992685427|             M|  M|           DME|        PETROLEUM|   32|
|220398169313904|             M|  M|            BE|          MINERAL|   32|
|221190058230054|             M|  M|            BA|         AVIATION|   32|
|221271076006669|             M|  M|           MBA|            MEDIA|   32|
+---------------+--------------+---+--------------+-----------------+-----+
only showing top 20 rows

#### Cross check the number of repayment for 2-month pending, for a specific customer id

In [50]:
#Repayment_Table.where((col("cust_id")=="220967113490784") & (col("months_pending").cast("Integer") == 2) & (col("year").cast("Integer") >= 2014)).count()
#Repayment_Table.where((col("cust_id")=="222107038490880") & (col("months_pending").cast("Integer") == 2) & (col("year").cast("Integer") >= 2014)).count()
Repayment_Table.where((col("cust_id")=="222348908166353") & (col("months_pending").cast("Integer") == 2) & (col("year").cast("Integer") >= 2014)).count()

33

In [51]:
#Persist_Pending_Status.where((col("cust_id")=="220967113490784") & (col("months_pending").cast("Integer") == 2) & (col("year").cast("Integer") >= 2014)).count()
#Persist_Pending_Status.where((col("cust_id")=="222107038490880") & (col("months_pending").cast("Integer") == 2) & (col("year").cast("Integer") >= 2014)).count()
Persist_Pending_Status.where((col("cust_id")=="222348908166353") & (col("months_pending").cast("Integer") == 2) & (col("year").cast("Integer") >= 2014)).count()

33

#### The number of times repayment was in the status of 1-month pending

In [52]:
Repayment_Table_1Months = Repayment_Table.select("cust_id") \
               .where((col("months_pending").cast("Integer") == 1) & (col("year").cast("Integer") >= 2014)) \
               .groupBy("cust_id") \
               .count().orderBy("count", ascending=False)

Repayment_Table_1Months_otherDetails = Repayment_Table.join(Repayment_Table_1Months,"cust_id","inner")

In [53]:
Repayment_Table_1Months_distinct = Repayment_Table_1Months_otherDetails.select("cust_id","marital_status","sex","qualification1","emp_industry_type","count") \
                                                                       .distinct()
Repayment_Table_1Months_distinct.show()

+--------------+--------------+---+--------------+-------------------+-----+
|       cust_id|marital_status|sex|qualification1|  emp_industry_type|count|
+--------------+--------------+---+--------------+-------------------+-----+
|78087182141705|             M|  M|           DCE|        ENGINEERING|   18|
|78178797941118|             M|  M|             G|               null|    3|
|78336783245627|             M|  M|            CA|            SERVICE|   32|
|78361581828896|             M|  F|           DBA|           CHEMICAL|   32|
|78375819332844|             M|  M|         BTECH|   INFORMATION TECH|   32|
|78421758729382|             M|  M|           MBA|               null|   32|
|78430914127692|             M|  M|          BCOM|          EDUCATION|    1|
|78433251808499|             M|  M|            MA|   INFORMATION TECH|    2|
|78458804258165|             M|  M|            CA|   INFORMATION TECH|    1|
|78529762435726|             M|  M|           MBA|            BANKING|    2|
|78541603368770|             M|  M|           DCE|               null|    3|
|78555792955931|             M|  M|           BSC| GEMS AND JEWELLERY|    2|
|78616717504605|             M|  M|           BSC|               null|    1|
|79038804410647|             M|  M|           DME|          TRANSPORT|    3|
|79092567777215|             M|  M|           MIT|               null|    1|
|79162609683391|             M|  M|           MBA| TELECOMMUNICATIONS|    3|
|79176900590781|             M|  M|            MS|     POLICE SERVICE|    4|
|79305985488743|             S|  M|            CA|ACCOUNTING SERVICES|   32|
|79461849652429|             M|  M|          BCOM|            BANKING|   32|
|79474690619791|             M|  M|           BSC|             ENERGY|    1|
+--------------+--------------+---+--------------+-------------------+-----+
only showing top 20 rows

#### Cross check the number of repayment for 1-month pending, for a specific customer id

In [54]:
print("Number of Unique Customer ID :-" , Repayment_Table_1Months_distinct.select("cust_id").distinct().count())

Number of Unique Customer ID :- 235511

In [55]:
print("Number of Records :-" , Repayment_Table_1Months_distinct.count())

Number of Records :- 235512

#### The number of times repayment was in the status of 0-month pending

In [56]:
Repayment_Table_0Months = Repayment_Table.select("cust_id") \
               .where((col("months_pending").cast("Integer") < 1) & (col("year").cast("Integer") >= 2014)) \
               .groupBy("cust_id") \
               .count().orderBy("count", ascending=False)

#Repayment_Table_0Months.printSchema()
Repayment_Table_0Months_otherDetails = Repayment_Table.join(Repayment_Table_0Months,"cust_id","inner")

In [57]:
Repayment_Table_0Months_distinct = Repayment_Table_0Months_otherDetails.select("cust_id","marital_status","sex","qualification1","emp_industry_type","count") \
                                                                       .distinct()
Repayment_Table_0Months_distinct.show()

+--------------+--------------+---+--------------+------------------+-----+
|       cust_id|marital_status|sex|qualification1| emp_industry_type|count|
+--------------+--------------+---+--------------+------------------+-----+
|78046228285677|             M|  M|            BA|              null|   33|
|78087182141705|             M|  M|           DCE|       ENGINEERING|   15|
|78178797941118|             M|  M|             G|              null|   26|
|78336783245627|             M|  M|            CA|           SERVICE|    1|
|78342229299380|             M|  M|           BSE|            RETAIL|   33|
|78361581828896|             M|  F|           DBA|          CHEMICAL|    1|
|78375819332844|             M|  M|         BTECH|  INFORMATION TECH|    1|
|78421758729382|             M|  M|           MBA|              null|    1|
|78430914127692|             M|  M|          BCOM|         EDUCATION|   32|
|78433251808499|             M|  M|            MA|  INFORMATION TECH|   28|
|78458804258165|             M|  M|            CA|  INFORMATION TECH|   30|
|78466809653587|             M|  M|          BCOM|              null|   33|
|78480351449681|             M|  M|            BE|              null|   33|
|78487684912754|             M|  M|          BCOM|    INFRASTRUCTURE|   33|
|78492489027872|             M|  F|          BCOM|              null|   33|
|78514088891276|             M|  M|          MBBS|              null|   33|
|78521788862903|             M|  M|           MBA|FINANCIAL SERVICES|   32|
|78522881073025|             M|  M|         DHEMS|  INFORMATION TECH|   33|
|78529762435726|             M|  M|           MBA|           BANKING|   31|
|78541603368770|             M|  M|           DCE|              null|   30|
+--------------+--------------+---+--------------+------------------+-----+
only showing top 20 rows

### Write final result to the Hive Table

In [ ]:
#Repayment_Table_2Months_distinct.write.option("header","true").option("sep",",").mode("overwrite").csv("/user/tswdsml6user016/CapStone_BankLoan")

In [ ]:
#Repayment_Table_1Months_distinct.write.option("header","true").option("sep",",").mode("overwrite").csv("/user/tswdsml6user016/CapStone_BankLoan")

In [ ]:
#Repayment_Table_0Months_distinct.write.option("header","true").option("sep",",").mode("overwrite").csv("/user/tswdsml6user016/CapStone_BankLoan")

###  Checking distinct actions & join Action Records and Loan Details tables

In [58]:
Action_Table = Persist_Loan_Detail.join(Persist_Action_Records,"cust_id","inner") \
                                  .select("cust_id","loan_amt","roi","emi","loan_type","action") \
                                  .distinct()
Action_Table.printSchema()

root
 |-- cust_id: long (nullable = true)
 |-- loan_amt: long (nullable = true)
 |-- roi: double (nullable = true)
 |-- emi: integer (nullable = true)
 |-- loan_type: string (nullable = true)
 |-- action: string (nullable = true)

In [79]:
Action_Table.show()

+---------------+--------+-----+-----+---------+------+
|        cust_id|loan_amt|  roi|  emi|loan_type|action|
+---------------+--------+-----+-----+---------+------+
| 79851185983222| 3660000| 9.45|48606|       L1|   TBM|
| 79851185983222| 3660000| 9.45|48606|       L1|    MS|
| 80389573515299| 1850000| 10.3|13849|       L1|   TBM|
| 80389573515299| 1850000| 10.3|13849|       L1|   CON|
| 80389573515299| 1850000| 10.3|13849|       L1|   ICB|
| 80389573515299| 1850000| 10.3|13849|       L1|   CST|
| 87277394009234| 1640000|10.05|17952|       L1|   TBM|
| 87277394009234| 1640000|10.05|17952|       L1|  AREM|
| 87277394009234| 1640000|10.05|17952|       L1|   VBP|
| 87277394009234| 1640000|10.05|17952|       L1|   ICB|
| 87277394009234| 1640000|10.05|17952|       L1|   TCM|
| 87277394009234| 1640000|10.05|17952|       L1|  AEML|
| 87277394009234| 1640000|10.05|17952|       L1|  ASMS|
| 87277394009234| 1640000|10.05|17952|       L1|   CON|
| 87277394009234| 1640000|10.05|17952|       L1|    MS|
| 87277394009234| 1640000|10.05|17952|       L1|  VBPX|
|106032946199074| 4000000|  9.8|45464|       L1|   TMM|
|106032946199074| 4000000|  9.8|45464|       L1|   TBM|
|106032946199074| 4000000|  9.8|45464|       L1|   TBC|
|106032946199074| 4000000|  9.8|45464|       L1|   VBE|
+---------------+--------+-----+-----+---------+------+
only showing top 20 rows

In [63]:
print("Total number of TBM :- ",Action_Table.where(col("action") == "TBM").count())

Total number of TBM :-  168917

In [64]:
print("Total number of TCM :- ",Action_Table.where(col("action") == "TCM").count())

Total number of TCM :-  31149

In [78]:
print("Total number of VBC :- ",Action_Table.where(col("action") == "VBC").count())

Total number of VBC :-  10276

In [77]:
print("Total number of VCC :- ",Action_Table.where(col("action") == "VCC").count())

Total number of VCC :-  143

In [72]:
Action_Table.select("action").distinct().orderBy("action",ascending=False).show(150)

+------+
|action|
+------+
|     Y|
|  VMRX|
|   VMR|
|  VMEX|
|   VME|
|  VGRX|
|   VGR|
|  VGEX|
|   VGE|
|  VCPX|
|   VCP|
|  VCEX|
|   VCE|
|  VCCX|
|   VCC|
|  VBPX|
|   VBP|
|  VBEX|
|   VBE|
|  VBCX|
|   VBC|
|  TMRX|
|   TMR|
|  TMMX|
|   TMM|
|  TMEX|
|   TME|
|   TLG|
|  TGRX|
|   TGR|
|  TGMX|
|   TGM|
|   TGE|
|  TCPX|
|   TCP|
|  TCMX|
|   TCM|
|  TCEX|
|   TCE|
|  TCCX|
|   TCC|
|  TBPX|
|   TBP|
|  TBMX|
|   TBM|
|  TBEX|
|   TBE|
|  TBCX|
|   TBC|
|   SRN|
|   SQI|
|   SPR|
|   SNA|
|   SMS|
|   SHA|
|  SFAH|
|    SF|
|   SAR|
|  S138|
|   RVL|
|   RTB|
|  RSGE|
|  RPLT|
|   RFV|
|   REM|
|   RDD|
|  RBLD|
|   PSM|
|   PMI|
|  PEMI|
|   PEM|
|   PCL|
|   NLR|
|   NGB|
|   NG2|
|   NG1|
|   NBB|
|   NB2|
|   NB1|
|     N|
|    MS|
|   LVG|
|   LVC|
|   LVB|
|  LTRP|
|   LTB|
|   LSP|
| LREM2|
| LREM1|
|  LPMI|
| LPEMI|
|  LP99|
|   LP6|
|   LP5|
|   LP4|
|   LP3|
|   LNG|
|   LNB|
|    LM|
|   LLB|
|  LGLF|
|   LGE|
|   LG4|
|   LG3|
|   LG2|
|   LG1|
|    LG|
| LEPMI|
|  LEMI|
|   LEM|
|   LCE|
|    LC|
|   LBP|
|   LBI|
|   LBE|
|   LBD|
|   LBC|
|   LB4|
|   LB3|
|   LB2|
|  LB1D|
|  LB1C|
|  LB12|
|   LB1|
|    LB|
|   LAR|
| L-EMI|
|   IVM|
|   IVG|
|   IVC|
|   IVB|
|   ILM|
|   ILG|
|   ILE|
|   ILC|
|   ILB|
|   ILA|
|   IEM|
|   IEE|
|   IEC|
|   IEB|
|   ICM|
|   ICG|
|   ICE|
|   ICC|
|   ICB|
|  GUR1|
|   GUR|
|  GRAM|
|    GM|
+------+
only showing top 150 rows

# action TB, TC, VB, VC is not available in the action_record table, hence below problem statement couldn't be solved, instead used TBM, TCM, VBC and VCC

### 			 4. The number of times the action TB (call to customer/borrower) was taken
###			 5. The number of times the action TC (call to co-borrower) was taken
###			 6. The number of times the action VB (visit to customer/borrower) was taken
###			 7. The number of times the action VC (visit to co-borrower) was taken

In [96]:
Action_Table_TBM = Action_Table.select("cust_id","action") \
                               .where(col("action") == "TBM") \
                               .groupBy("cust_id") \
                               .count() \
                               .orderBy("count", ascending=False)

In [97]:
Action_Table_TBM.show()

+---------------+-----+
|        cust_id|count|
+---------------+-----+
|223624552893414|    2|
|220851037086050|    2|
|220093259435589|    2|
|221367195252506|    2|
|221723170892014|    2|
|223215083830764|    2|
|220268191554285|    2|
|221286447419317|    2|
|223651764141775|    2|
|222714091144505|    2|
|220786664357597|    2|
|220155071725042|    2|
|221254748087166|    2|
|221668013915076|    2|
|221319317603645|    2|
|221462972131071|    2|
|221262430501497|    2|
|222114939639857|    2|
|221116196880444|    2|
|221616771849369|    2|
+---------------+-----+
only showing top 20 rows

In [108]:
Action_Table_TBM_otherDetails = Action_Table_TBM.join(Action_Table,"cust_id","inner")

Action_Table_TBM_distinct = Action_Table_TBM_otherDetails.select("cust_id","loan_amt","loan_type","roi","emi","count") \
                                                         .where((col("action")) == "TBM")
                                                                       #.distinct()
Action_Table_TBM_distinct.show()

+---------------+--------+---------+-----+-----+-----+
|        cust_id|loan_amt|loan_type|  roi|  emi|count|
+---------------+--------+---------+-----+-----+-----+
| 79851185983222| 3660000|       L1| 9.45|48606|    1|
| 80389573515299| 1850000|       L1| 10.3|13849|    1|
| 87277394009234| 1640000|       L1|10.05|17952|    1|
|106032946199074| 4000000|       L1|  9.8|45464|    1|
|134859336307016| 1350000|       L1| 10.3|14923|    1|
|219542355746126| 2970000|       L1|  9.7|30000|    1|
|219649150559485| 1300000|       L1|10.55|10000|    1|
|219663238826417| 1600000|       L1| 9.65|15975|    1|
|219663298082291|  640407|       L1|10.55| 6075|    1|
|219792385540692| 3455304|       L1|  9.8|35080|    1|
|219816331131997| 1850000|       L1| 10.3|15617|    1|
|219824685844454| 1700000|       L1| 10.3|16859|    1|
|219881728036050|  719201|       L1|10.55| 7619|    1|
|219889627721919|  731511|       L1|10.55| 8200|    1|
|219907709542137| 2500000|       L1| 9.55|29662|    1|
|219907740267405| 3765000|       L1| 10.3|51120|    1|
|219921769278463| 3300000|       L1| 10.8|23789|    1|
|219925762100195|  650000|       L1| 10.3| 6059|    1|
|219960716847646| 1200000|       L1|10.55|16944|    1|
|219963347150053| 1630000|       L1| 9.55|20000|    1|
+---------------+--------+---------+-----+-----+-----+
only showing top 20 rows

In [109]:
Action_Table_TBM_distinct.select("*").where(col("cust_id") == 223624552893414).show()

+---------------+--------+---------+----+-----+-----+
|        cust_id|loan_amt|loan_type| roi|  emi|count|
+---------------+--------+---------+----+-----+-----+
|223624552893414| 4000000|       L1|12.7|51006|    2|
|223624552893414| 4000000|       L1|11.0|51006|    2|
+---------------+--------+---------+----+-----+-----+

In [110]:
Action_Table_TCM = Action_Table.select("cust_id","action") \
                               .where(col("action") == "TCM") \
                               .groupBy("cust_id") \
                               .count() \
                               .orderBy("count", ascending=False)
Action_Table_TCM.show()

+---------------+-----+
|        cust_id|count|
+---------------+-----+
|220428011962003|    2|
|220744473443755|    2|
|221764124382265|    2|
|220093259435589|    2|
|221732053054905|    2|
|223166298323389|    2|
|220210948551116|    2|
|222114939639857|    2|
|221254748087166|    2|
|222147575726905|    2|
|220525054428988|    2|
|219811160508325|    2|
|221080859530251|    2|
|221160145718548|    2|
|220058478797990|    2|
|221262430501497|    2|
|221286447419317|    2|
|221116196880444|    2|
|221367195252506|    2|
|221236102604591|    2|
+---------------+-----+
only showing top 20 rows

In [111]:
Action_Table_TCM_otherDetails = Action_Table_TCM.join(Action_Table,"cust_id","inner")

Action_Table_TCM_distinct = Action_Table_TCM_otherDetails.select("cust_id","loan_amt","loan_type","roi","emi","count") \
                                                         .where((col("action")) == "TCM")
                                                                       #.distinct()
Action_Table_TCM_distinct.show()

+---------------+--------+---------+-----+-----+-----+
|        cust_id|loan_amt|loan_type|  roi|  emi|count|
+---------------+--------+---------+-----+-----+-----+
| 87277394009234| 1640000|       L1|10.05|17952|    1|
|219619126120217| 3872360|       L1|10.55|39971|    1|
|219951155436866| 2500000|       L1|10.05|31201|    1|
|219979660438476| 1700000|       L1| 9.65|21406|    1|
|220026727525505| 3000000|       L1|10.55|33629|    1|
|220092579090369| 1300000|       L1| 10.3|17542|    1|
|220093376850006| 5200000|       L1|10.65|59104|    1|
|220099900482801| 6500000|       L1|  9.6|70049|    1|
|220102481405313| 1438742|       L1|  9.4|12992|    1|
|220131929380029| 1800000|       L1|  9.7|20178|    1|
|220191972040356|  595000|       L1|10.55| 6041|    1|
|220212029787928|  500000|       L1|  9.8| 8000|    1|
|220213977916230| 1495000|       L1|  9.8|19965|    1|
|220240123656190| 1150000|       L1|10.55|11676|    1|
|220294304008538| 1140000|       L1|10.55|11583|    1|
|220340244502407| 2150000|       L1|10.05|20000|    1|
|220350024647833| 1300000|       L1| 10.3|12979|    1|
|220352275273714| 7500000|       L1|  9.7|77415|    1|
|220385465878694|  400000|       L1|10.55| 8648|    1|
|220386271319648| 2500000|       L1|10.55|27636|    1|
+---------------+--------+---------+-----+-----+-----+
only showing top 20 rows

In [112]:
Action_Table_TCM_distinct.select("*").where(col("cust_id") == 221236102604591).show()

+---------------+--------+---------+-----+-----+-----+
|        cust_id|loan_amt|loan_type|  roi|  emi|count|
+---------------+--------+---------+-----+-----+-----+
|221236102604591| 3783860|       L1| 10.3|37524|    2|
|221236102604591| 3783860|       L1|10.15|37524|    2|
+---------------+--------+---------+-----+-----+-----+